@model IEnumerable<BancoMundial.Models.PessoaJuridica>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CNPJ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RazaoSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeFantasia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InscricaoEstadual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAbertura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Faturamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Sócios
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CNPJ)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RazaoSocial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeFantasia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InscricaoEstadual)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataAbertura)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Faturamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Idade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Endereco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @if (item.Socios != null && item.Socios.Any())
                    {
                        @foreach (var socio in item.Socios)
                        {
                            <p>@socio.Nome @socio.Sobrenome</p>
                        }
                    }
                    else
                    {
                        <p>Nenhum sócio</p>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
